*{
font-family: poppins, sans-serif;
}

.d-flex{
    display: flex;
}

.text-align-c{
    text-align: center;
}

.just-c{
    justify-content: space-between;
}

.capitalize{
    text-transform: capitalize;
}

.uppercase{
    text-transform: uppercase;
}

.margin-auto{
    margin: auto;
}

.white-color{
    color: white;
}

.blue-color{
    color: rgb(65, 65, 102);
}

.grey-color{
    color: grey;
}

.li-style{
    list-style: none;
}

/* nav section */
nav{
    margin: -1%;
    padding: 3% 10% 10% 10%;
    background-color: rgb(223, 79, 79);
    border-bottom-left-radius: 7%;
    background-image: url(my-files/bg-pattern-intro-desktop.svg);
    background-position: center;
}

.nav-ul{
    gap: 4rem;
    align-self: center;   
}

.nav-a{
    text-decoration: none;
    align-self: center;
}

.nav-a-btn{
    margin-left: auto;
    gap: 4rem;
    align-self:center ;
}

.nav-h1-1{
    font-size: 2.5rem;
}

.nav-btn-1{
    background-color:white;
    color:rgb(223, 79, 79);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: 1.2rem;
}

.nav-h1-2{
    font-size: 4rem;
    font-weight: 500;

}

.nav-p{
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.nav-btn-2{
    color:rgb(223, 79, 79);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: 1rem;

}

.nav-btn-3{
    border-radius: 50px;
    cursor: pointer;
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: 1rem;
    background-color: rgb(223, 79, 79);
    border-color: white; position: relative;
}

/* design section */

.design-section{
    margin: 20% -20% 0% 5%;
    position: relative;
}

.design-intro-h{
    position: absolute;
    left: 25%;
    top: -18%;
    font-size: 2.5rem       
}

.design-text-img-wrapper{
    gap: 3%;
}

.design-text, .advantage-text{
    width:40% ;
}

.design-image{
    margin-top: -20%;
    width: 100%;
    height: 120%;    
}

.design-text-h1, .advantage-text-h1{
    font-size: 1.6rem;
}

.design-text-p, .advantage-text-p{
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

/*  infrastructure section */

.Infrastructure-section{
    position: relative;   
}

.blue-background{
    background-color:  rgb(65, 65, 102);
    height: 65vh;
    border-top-right-radius: 25vh;
    border-bottom-left-radius: 25vh;
    margin:  5% -1% 0% -1%;

}

.infrastructure-phones{
    width: 40%;
    height: 135%;
    position: absolute;
    top: -15%;
    left: 10%;
}

.infrastructure-text{
    width: 40%;
    position: absolute;
    top: 20%;
    right: 5%;
}

.infrastructure-text-h1{
    font-size: 2.3rem;
    font-weight: 200;
    
}

.infrastructure-text-p{
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}


/* advantage section */

.advantage-section{
    margin: 20% 5% 0% -25%;   
}

.advantage-text{
    margin-left: -3%;
}

/* main footer */

.main-footer{
    margin: 0% -1% 0% -1% ;
    background-color: rgb(65, 65, 102);
    justify-content: space-around;
    border-top-right-radius: 25vh;
}

.footer-ul{
    list-style: none;
    margin-left: -35%;   
}

.footer-ul-p{
    padding: 2%;
}

.pad{
    padding: 2%;
}

.main-footer > .footer-ul-p > .footer-ul > a{
    text-decoration: none;
}

.main-footer > .footer-ul-p > .footer-ul > a> li{
    padding-bottom: 20%;
}

.footer-logo{
    padding: 2%;
    font-size: 2.5rem;
}

.footer-p{
    font-size: 1.5rem;
}


@media (min-width :0px) and (max-width :600px){
    nav{
        padding: 3% 3% 10% 3%;
    }

    .nav-wrapper{
        flex-direction: column;
    }

    .nav-logo-li{
        flex-direction: column;
    }

    .nav-ul{
        width: 80%;
        margin: auto;
    }

    .nav-a-btn{
        width: 80%;
        margin: 5% auto 0% auto;    
    }

    .design-section{
        margin: 60% 5% 20% 5%;

    }

    .design-text-img-wrapper{
        flex-direction: column-reverse;
    }

    .design-text{
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .design-intro-h{
        left: 10%;
        top: -23%;
        width: 90%;      
    }

    .Infrastructure-section{
        margin-top: 40%;
    }

    .blue-background{
        height: 110vh;     
    }

    .infrastructure-phones{
        width: 70%;
        height: 55%;
        top: -25%;
        left: 20%;
    }
    
    .infrastructure-text{
        width: 50%;
        position: absolute;
        top: 25%;
        right: 30%;
        text-align: center;
        margin: auto;
    }

    .advantage-section{
        margin: 35% 5% 0% 5%;   
    }

    .advantage-text-img-wrapper{
        flex-direction: column;
    }
    
    .advantage-text{
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .main-footer{
        flex-direction: column;
        text-align: center;
        padding: 10% 10% 10% 0%;
    }
    
    .footer-ul{
        margin-left: -15%;   
    }
    
    .footer-ul-p{
        padding: 0%;
    }
    
    .pad{
        padding: 0%;
    }
    
    .main-footer > .footer-ul-p > .footer-ul > a> li{
        padding-bottom: 1%;
    }
    
    
    
}

